SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0501", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Bootloader_Device", TAG+="uaccess"

# UVC Modules
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0635", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Femto", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0638", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Femto-w", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0668", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Femto-live", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0636", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Astra+", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0637", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Astra+s", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0536", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Astra+_rgb", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0537", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Astra+s_rgb", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0669", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Femto-mega", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="066b", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Femto_Bolt", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0660", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Astra_2", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0670", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_2", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0671", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_2_XL", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0673", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_2_L", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0675", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_2_VL", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0800", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_335", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0801", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_330", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0802", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_dm330", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0803", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_336", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0804", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_335L", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0805", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_330L", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0806", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_dm330L", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0807", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_336L", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="080b", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_335Lg", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="080d", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_336Lg", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="080e", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_335Le", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0810", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_336Le", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0674", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_2_I", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0701", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Dabai_DCL", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="069d", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Astra_Pro2", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0808", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_215", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0809", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_210", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0a12", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Dabai_A", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0a13", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Dabai_AL", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0812", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_345", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0813", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_345Lg", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0816", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="CAM-5330", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0817", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="CAM-5530", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0819", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="CAM-5530", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0818", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_338", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0840", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_305", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0841", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_305", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0842", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_305g", TAG+="uaccess"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2bc5", ATTRS{idProduct}=="0843", MODE:="0660",  OWNER:="root", GROUP:="video", SYMLINK+="Gemini_301g", TAG+="uaccess"

# OpenNI Modules
SUBSYSTEM=="usb", ATTR{idProduct}=="0400", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra_bootloader", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0401", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0402", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra_s", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0403", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra_pro", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0404", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra_mini", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0407", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra_mini_s", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0601", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra_NH_GLST", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="060b", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="deeyea", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="050b", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="deeyea_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="060e", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="petrel", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="050e", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="petrel_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="060f", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astro_pro_plus", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="050f", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astro_pro_plus_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0610", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="bus_cl", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0603", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="atlas", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0510", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="atlas_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0614", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="gemini", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0511", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="gemini_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0616", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="u1s", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0516", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="u1s_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0617", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="projector", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0517", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="projector_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0618", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="butterfly", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0518", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="butterfly_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="061b", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="pavo", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="051b", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="pavo_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="062b", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="petrel_pro", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="052b", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="petrel_pro_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="062c", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="petrel_plus", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="052c", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="petrel_plus_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="062d", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="pictor", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0632", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra+", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0532", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra+rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0633", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra+s", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0533", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra+s_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0634", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_petal_b", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0534", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_petal_b_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0635", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="femto", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0636", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="jarvis", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0536", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="jarvis_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0637", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="jarvis+s", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0537", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="jarvis+s_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0638", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="femto_w", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0639", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="argus", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0539", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="argus_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="063a", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="u2", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0650", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astradepth", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0651", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astradepth", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0654", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="qi_long_zhu", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0554", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="qi_long_zhu_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0655", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_plus", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0656", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_mini", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0657", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dc1", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0557", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dc1_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0658", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_d1", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0657", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dc1", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0557", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dc1_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0659", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dcw", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0559", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dcw_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="065a", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dw", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="065b", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra_mini_pro", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="065c", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="gemini_e", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="055c", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="gemini_e_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="065d", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="gemini_e_lite", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="065e", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra_mini_s_pro", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0698", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="j1", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="069c", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="TB2201", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="06a0", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dcw2", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0561", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dcw2_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="069f", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_dw2", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="069a", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_max", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="069e", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_max_pro", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="0560", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_max_pro_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="06aa", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_gemini_uw", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="05aa", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="dabai_gemini_uw_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="06a6", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="gemini_ew", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="05a6", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="gemini_ew_rgb", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="06a7", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="gemini_ew_lite", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idProduct}=="069d", ATTR{idVendor}=="2bc5", MODE:="0660", OWNER:="root", GROUP:="video", SYMLINK+="astra_pro2", TAG+="uaccess"
